FLASK_APP=server.py
FLASK_ENV=development
FLASK_DEBUG=TRUE
FLASK_RUN_PORT=8080
DATABASE_URL=sqlite:///flaskiq.db

# URL or host OLLAMA Local/from docker
OLLAMA_HOST=http://localhost:11434

# Key for AI service (if not used, provide a placeholder)
AI_KEY=YOUR_AI_KEY_HERE

# Secret key Flask
SECRET_KEY=YOUR_SECRET_KEY_HERE

# Secret key untuk JWT
JWT_KEY=YOUR_JWT_KEY_HERE
