DateTime==5.5
Flask==3.1.0
flask-cors==5.0.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
Flask-Limiter==3.12
Flask-Migrate==4.1.0
flask_profiler==1.8.1
postgrest==0.19.3
PyMySQL==1.1.1
PyJWT==2.10.1
python-dotenv==1.0.1
psycopg2-binary==2.9.10
pandas==2.2.3
gunicorn==23.0.0
Werkzeug==3.1.1
cryptography==45.0.5
requests