from flask_restful import Resource
# from utils.response import Response  # Uncomment when available
# from utils.middleware import Middleware  # Uncomment to protect route


class {{name_title}}ApiController(Resource):

    # @Middleware.token_required
    def get(self, id=None):
        # TODO: call {{name_title}}ApiService.get_all() or get_by_id(id)
        return {"success": True, "data": [], "message": "OK"}, 200

    # @Middleware.token_required
    def post(self):
        # TODO: call {{name_title}}ApiService.create(request.get_json())
        return {"success": True, "data": {}, "message": "Created"}, 201

    # @Middleware.token_required
    def put(self, id):
        # TODO: call {{name_title}}ApiService.update(id, request.get_json())
        return {"success": True, "data": {}, "message": "Updated"}, 200

    # @Middleware.token_required
    def delete(self, id):
        # TODO: call {{name_title}}ApiService.delete(id)
        return {"success": True, "data": {}, "message": "Deleted"}, 200
