class {{name_title}}ApiService:

    @staticmethod
    def get_all():
        # TODO: use {{name_title}}Repository.get_all()
        return []

    @staticmethod
    def get_by_id(id):
        # TODO: use {{name_title}}Repository.get_by_id(id)
        return None

    @staticmethod
    def create(data: dict):
        # TODO: use {{name_title}}Repository.save(instance)
        pass

    @staticmethod
    def update(id, data: dict):
        # TODO: use {{name_title}}Repository.save(instance)
        pass

    @staticmethod
    def delete(id):
        # TODO: use {{name_title}}Repository.delete(instance)
        pass
